<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196332352985-a3tqh1bc0a22n53drpkcc91lqvjpaqok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196332352985-a3tqh1bc0a22n53drpkcc91lqvjpaqok</string>
	<key>API_KEY</key>
	<string>AIzaSyAZJRVk7UBu7RAeIhwj5_SkZA2t6xvErcc</string>
	<key>GCM_SENDER_ID</key>
	<string>196332352985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skunk.Waver</string>
	<key>PROJECT_ID</key>
	<string>waver-5d67b</string>
	<key>STORAGE_BUCKET</key>
	<string>waver-5d67b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:196332352985:ios:3389813fab3fdc8f</string>
	<key>DATABASE_URL</key>
	<string>https://waver-5d67b.firebaseio.com</string>
</dict>
</plist>